<footer id="footer" class="page-footer font-small  pt-4 ">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center m">
     
      <li class="list-inline-item">
        <a href="https://github.com/Eddsonblanco" class="btn-floating btn-tw mx-1">
          <i class="fab fa-github"> Eddson Blanco</i>
        </a>
      </li>

    <!-- Copyright -->
    <div id="CR" class="footer-copyright text-center  py-3 ">© 2019 Copyright
    </div>
  </footer>