<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Russo+One&display=swap" rel="stylesheet">
  {{!-- jquery --}}
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="jquery.min.js" type="text/javascript"></script>

  <title>Scraper News</title>
</head>

<body>
  <nav id="navmain" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CL;</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/" class="glyphicon glyphicon-home"></a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <footer id="footer" class="page-footer font-small  pt-4 ">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center m">
      
      <li class="list-inline-item">
        <a href="https://github.com/Eddsonblanco" class="btn-floating btn-tw mx-1">
          <i class="fab fa-github"> Eddson Blanco</i>
        </a>
      </li>
     
    </ul>

    <!-- Copyright -->
    <div id="CR" class="footer-copyright text-center  py-3 ">© 2019 Copyright
    </div>
  </footer>
</body>

</html>