<div id="jumbotron" class="jumbotron text-center">
  <h1 class="display-4">Scrapping the News</h1>
 
  <hr class="my-4">
  
  <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
  <a class="btn btn-primary btn-lg" href="/clearall" role="button">Clear</a>
  <a class="btn btn-primary btn-lg" href="/articles-json" role="button">Article JSON</a>
</div>